<%- include('../Partials/HeaderRoot') %>

<div class="wrapper-page">
    <div class="card">
        <div class="card-body">

            <h3 class="text-center">
                <a href="/" class="logo logo-admin">PINLY</a>
            </h3>

            <div class="p-3">

                <h4 class="text-center mb-4">
                    Reset Password
                </h4>

                <% if(error){ %>
                    <div class="alert alert-danger">
                        <%= error %>
                    </div>
                <% } %>

                <form
                    action="/api/auth/reset-password"
                    method="POST">

                    <input
                        type="hidden"
                        name="token"
                        value="<%= token %>">

                    <div class="form-group">
                        <label>New Password</label>

                        <input
                            type="password"
                            name="password"
                            class="form-control"
                            required>
                    </div>

                    <div class="form-group">
                        <label>Confirm Password</label>

                        <input
                            type="password"
                            name="confirmPassword"
                            class="form-control"
                            required>
                    </div>

                    <button
                        class="btn btn-primary btn-block"
                        type="submit">

                        Reset Password

                    </button>

                </form>

            </div>

        </div>
    </div>
</div>

<%- include('../Partials/FooterRoot') %>